## 1. Complete the following code to find the area of an equilateral triangle. Output should be as displayed

In [3]:
import math
side = float(input("Enter the side of the equilateral triangle: "))
area = ((math.sqrt(3))/4)*pow(side,2)
print("Area =",area)

Enter the side of the equilateral triangle: 8
Area = 27.712812921102035

## 2. Write a program to count the number of each characters in a string

In [4]:
word1=str(input("Enter word: "))
word2=str(word1.lower())
x=""
for i in word2:
    if i not in x:
        print(i,"occurs",word2.count(i),"times")
        x=x+i

Enter word: Malayalam
m occurs 2 times
a occurs 4 times
l occurs 2 times
y occurs 1 times

## 3. Write a program to find the area and perimeter of a rectangle using functions

In [6]:
def area(a,b):
    ar=float(a*b)
    return ar
def peri(a,b):
    print("Perimeter =",2*(a+b))
leng=float(input("Enter length: "))
bre=float(input("Enter breadth: "))
print("Area =",area(leng,bre))
peri(leng,bre)

Enter length: 10
Enter breadth: 1.5
Area = 15.0
Perimeter = 23.0

## 4. Write a program to print the fibonacci series till a specified number

In [16]:
n=int(input("Enter number of terms: "))
a=0
b=1
sum=0
count=1
print("Fibonacci series: ", end=" ")
while (count<=n):
  print(sum,end=" ")
  count+=1
  a=b
  b=sum
  sum=a+b

Enter number of terms: 10
Fibonacci series:  0 1 1 2 3 5 8 13 21 34

## 5. Complete the following code to find the minimum of 3 number using conditional statements. Output should be as displayed.

In [7]:
a,b,c = input("Enter three numbers followed by space: ").split()

print("First number :",a)
print("Second number :",b)
print("Third number :",c)
if a==b==c:
    print("Entered numbers are equal!!!")
if a<b and a<c:
    print(a," is the smallest")
if b<a and b<c:
    print(b," is the smallest")
if c<a and c<b:
    print(c," is the smallest")

Enter three numbers followed by space: 15 7 20
First number : 15
Second number : 7
Third number : 20
15  is the smallest

## 6. Write a program to print star pyramind. The number of rows should be taken as input from the user

In [13]:
n=int(input("Enter number of rows: "))
for i in range(0,n):
  for j in range(0,i+1):
    print("* ",end="")
  print("\r")

Enter number of rows: 5
*
* *
* * *
* * * *
* * * * *

## 7. Complete the following code to convert hour into seconds. Output should be as displayed

In [9]:
def to_seconds(t):
    return t*(60**2)
time_in_hours = int(input("Enter time in Hours "))
print(time_in_hours ,"Hour is equal to" ,to_seconds(time_in_hours) ," Seconds")

Enter time in Hours 12
12 Hour is equal to 43200  Seconds

## 8. Write a program to print multiplication table as below

In [10]:
def table(a):
  for i in range(1,11):
   print(i,"X",a,"=",i*a)
   i+=1
num=int(input("Enter a number to find the multiplication table: "))
table(num)

Enter a number to find the multiplication table: 4
1 X 4 = 4
2 X 4 = 8
3 X 4 = 12
4 X 4 = 16
5 X 4 = 20
6 X 4 = 24
7 X 4 = 28
8 X 4 = 32
9 X 4 = 36
10 X 4 = 40

## 9. Write a program to take your 5 favorite food as list and print each as 'I like Biriyani'

In [11]:
a,b,c = input("Enter your favourite food list followed by space : ").split()
print("I like",a)
print("I like",b)
print("I like",c)

Enter your favourite food list followed by space : Cake Pasta Chicken
I like Cake
I like Pasta
I like Chicken

## 10. Find error(s) in the following code(if any) and rewrite code.

In [12]:
x=int(input("Enter value of x: "))
for y in range (0,10):
     if x==y:
          print("They are equal")
     else:
         print( "They are unequal")

Enter value of x: 3
They are unequal
They are unequal
They are unequal
They are equal
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal